<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center" style="background: #fff7ed">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="h1">Welcome</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 align-self-center">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
                <div class="form-row justify-content-center">
                    <div class="form-group col-10">
                        <p class="h3 mb-0">Forgot password?</p>
                    </div>
                    <div class="form-group col-10">
                        <ngb-alert type="danger" (close)="closeAlert()" *ngIf="error">{{ error }}</ngb-alert>
                    </div>
                    <div class="form-group col-10">
                        <ngb-alert type="success" *ngIf="linkSentSuccess">
                            Link sent successfully. Check your mail.
                        </ngb-alert>
                    </div>
                    <div class="form-group col-10">
                        <input class="form-control" type="email" formControlName="email">
                        <div class="error-msg"
                            *ngIf="forgotPasswordForm.get('email').errors?.required && forgotPasswordForm.controls['email'].touched">
                            *Email is required
                        </div>
                        <div class="error-msg" *ngIf="forgotPasswordForm.get('email').errors?.email">
                            *Email is invalid
                        </div>
                    </div>
                    <div class="form-group col-10">
                        <button class="btn btn-link text-decoration-none" type="button" routerLink="/auth/login">
                            Login
                        </button>
                    </div>
                    <div class="form-group col-10">
                        <button class="btn btn-primary btn-block" type="submit" [disabled]="forgotPasswordForm.invalid">
                            Send link
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>